main .body-section{
    height: 20%;
    display: flex;
    flex-wrap: wrap-reverse;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    height: 500px;
}
main .body-section .content{
    width: 80%;
}
main .body-section .content .title{
    font-size: 2.5rem;
    text-transform: capitalize;
}
main .body-section .content .discription{
    font-size: .8rem;
    padding-left: 2rem;
    width:90%;
    line-height: 20px;
}
main .body-section .content .discription b{
    color: #4f80c1;
}
main .body-section .projects{
    width: 20%;
}
main .body-section .projects .t-projects{
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
}
main .body-section .projects .p-items .p-item {
    padding-left: 1rem;
}
main .body-section .projects .p-items .p-item:not(:last-of-type){
    margin-bottom: .8rem;
    
}
main .body-section .projects .p-items .p-item a{
    color: white;
    font-size: .9rem;
    letter-spacing: 2px;
    text-decoration: underline;
    text-underline-offset: 9px;
    text-transform: capitalize;
}
main .body-section .projects .p-items .p-item a:hover{
    color: #4f80c1;
}
